<head>
   <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<h1 style="
    display: flex;
    margin: auto 0;
    position: absolute;
    left: 181px;
    top: 77px;">UPLOAD FILES</h1>
<div class="form-container">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <h1 class="center-text">Drop your documents here or select</h1>
    <a href="#" onclick="document.querySelector('input[type=file]').click()">Click here to upload files</a>
    <input type="file" name="file" style="display:none"/>
    <img src="1.jpeg" style="margin-left: 36px">
    <input type="submit" value="Upload" /><br>
  </form>
  <div class="right-container"></div>
</div>
